<!DOCTYPE html>
<html lang="en" class="sans f5 lh-copy bg-white">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Sassyons</title>
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>😝</text></svg>">
</head>

<body class="">
	<a class="sr-focus" href="#main">Skip to Main</a>
	<header class="flex flex-wrap items-center bg-ltgray ma3 ma4-m br-5 overflow-hidden">
		<div class="w-100 w-50-s order-1-s"><img class="db w-100" src="https://picsum.photos/1200/1000" alt=""></div>
		<div class="center w-100 w-50-s mw2 pa3 ph4-s ph5-l order-0-s f5-l">
			<h1 class="f2 f1-l mt0 mb2 tracked-tight blue fw700">Sassyons</h1>
			<p class="mb0">A utility-first CSS framework generator like Tachyons and Tailwind written in Sass.</p>
			<p><a class="" href="https://github.com/geoffyuen/sassyons">On Github</a></p>
		</div>
	</header>
	<main id="main" class="grid gcolumns-auto">

			<nav id="page-nav" class="dn db-s mv6 ph4 mw1">
				<ul class="f6 sticky top-3 ph0">
					<li><a href="#colours">Colours</a></li>
					<li><a href="#typescale">Typescale</a></li>
					<li><a href="#widths">Widths</a></li>
					<li><a href="#heights">Heights</a></li>
					<li><a href="#grid">Grid</a></li>
				</ul>
			</nav>

			<div class="overflow-x-hidden">


				<article id="colours" class="mw5 ph4 center mv6">
					
					<main>
						<h1>Colours</h1>
						<p>Text <code class="dib ph2 bg-ltgray">{{ colourname }}</code>,  background colours <code class="dib ph2 bg-ltgray">bg-{{ colourname }}</code> and hover colours <code class="dib ph2 bg-ltgray">hover-{{ colourname }}</code></p>
					</main>

					<ul class="f6 twig list pa0 grid gcolumns-2 gcolumns-4-m gcolumns-6-l ga-1">
						{% for color in [
							['yellow','white'], 
							['orange','white'],
							['red','white'],
							['green','white'],
							['blue','white'],
							['gray','white'],
							['ltgray','black'],
							['white','black'],
							['black','white'],
							['transparent','black'],
						] %}
							<li class="pa3 bg-{{color[0]}} {{color[1]}} shadow-1 trans-ease-in hover-bg-black hover-white">{{color[0]}}</li>
						{% endfor %}
					</ul>

				</article>


				<article id="typescale" class="mw5 ph4 center mv6">
					<header>
						<h1>Type Scale</h1>
					</header>
					<ul class="lh-headline">
						<li class="mv4 f4 f3-s f2-m f1-l">f1 Lorem ipsum dolor</li>
						<li class="mv4 f2">f2 sit amet consectetur</li>
						<li class="mv4 f3">f3 adipisicing elit. Voluptatum</li>
						<li class="mv4 f4">f4 quas expedita at</li>
						<li class="mv4 f5">f5 dolore accusamus? Aut</li>
						<li class="mv4 f6">f6 asperiores accusantium, architecto</li>
					</ul>
				</article>
				<article id="widths" class="mw5 ph4 pv4 center bg-ltgray">
					<div class="mw5 center ">
						<header>
							<h1>Widths</h1>
						</header>
						<section>
							<h2>Percentage Widths</h2>
							<div class="twig f6">
								{% for width in 1..10 %}
									<div class="w-{{width}}0 bg-blue white pa3 mv1">w-{{width}}0</div>
								{% endfor %}

								{% for width in ["third", "two-thirds"] %}
									<div class="w-{{width}} bg-blue white pa3 mv1">w-{{width}}</div>
								{% endfor %}
							
								<h3>Classic 12-column grid</h3>
								{% for width in 1..12 %}
									<div class="w-{{width}}-12 bg-blue white pa3 mv1">w-{{width}}-12</div>
								{% endfor %}
							</div>
						</section>
						<section>
							<h2>Max-widths</h2>
							<div class="twig f6">
								{% for width in 1..5 %}
									<div class="mw{{width}} bg-blue white pa3 mv1">mw{{width}}</div>
								{% endfor %}
							</div>
						</section>
					</div>
				</article>
				<article id="heights" class="mw5 ph4 pv4 center">
					<header>
						<h1>Heights</h1>
					</header>
					<div class="flex items-start nh2 f6">
						<div class="h1 bg-red white ph3 mv1 mh1">h1</div>
						<div class="h2 bg-red white pv1 ph3 mv1 mh1">h2</div>
						<div class="h3 bg-red white pv1 ph3 mv1 mh1">h3</div>
						<div class="h4 bg-red white pv1 ph3 mv1 mh1">h4</div>
						<div class="h5 bg-red white pv1 ph3 mv1 mh1">h5</div>

						<div class="vh-25">
							<div class="h-25 bg-green white ph3 mv1 mh1">h-25</div>
						</div>
						<div class="vh-25">
							<div class="h-50 bg-green white pv1 ph3 mv1 mh1">h-50</div>
						</div>
						<div class="vh-25">
							<div class="h-75 bg-green white pv1 ph3 mv1 mh1">h-75</div>
						</div>
						<div class="vh-25">
							<div class="h-100 bg-green white pv1 ph3 mv1 mh1">h-100</div>
						</div>
						<div class="vh-25">
							<div class="h-auto bg-green white pv1 ph3 mv1 mh1">h-auto</div>
						</div>
						<div class="vh-25">
							<div class="h-inherit bg-green white pv1 ph3 mv1 mh1">h-inherit</div>
						</div>

					</div>
					<div class="flex items-start nh2 f6">

						<div class="vh-25 bg-blue white ph3 pv2 mv1 mh1">vh-25</div>
						<div class="vh-50 bg-blue white ph3 pv2 mv1 mh1">vh-50</div>
						<div class="vh-75 bg-blue white ph3 pv2 mv1 mh1">vh-75</div>
						<div class="vh-100 bg-blue white ph3 pv2 mv1 mh1">vh-100</div>

					</div>
				</article>
				<article id="grid" class="mw5 ph4 center mv6">
					<header>
						<h1>Grid</h1>
					</header>
					<div class="grid ga-4 gcolumns-1 gcolumns-2-s gcolumns-4-m">
						<div class="gcolumn-span-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque autem ad a natus libero labore praesentium maxime necessitatibus ipsam excepturi doloribus alias, veniam nam molestiae? Quam alias dolorem aspernatur debitis?</div>
						<div>Ad inventore soluta obcaecati tempora nam temporibus facilis magni. Expedita, asperiores incidunt. Necessitatibus est, reprehenderit assumenda ex, mollitia ab, ea amet dicta molestias quisquam reiciendis nihil repudiandae vitae aperiam nemo.</div>
						<div>Saepe commodi rem consequatur debitis optio totam eligendi, non at possimus aliquam a! Harum reiciendis quos, nulla distinctio rem impedit inventore. Debitis tenetur veritatis quos eligendi aspernatur facilis, impedit itaque.</div>
						<div>Aliquam laudantium nam nisi veniam inventore dolor blanditiis eligendi distinctio perferendis veritatis, id laborum ipsum quidem perspiciatis, dolorem commodi sed quas facere aut natus temporibus quia fugit minus quis? Fuga?</div>
						<div>Repellat, illum recusandae assumenda obcaecati ea maxime molestiae magni odit nulla ipsum vel dolores doloremque alias nemo, numquam praesentium labore similique! Omnis eum quas eaque eius veniam nihil dolore nisi.</div>
						<div>Vero maxime harum, non nemo obcaecati voluptas eaque dolorum quos repudiandae dolores labore sed recusandae animi aut eius necessitatibus perspiciatis alias quisquam laboriosam nam! Accusamus architecto fugiat unde nam saepe.</div>
					</div>
				</article>
				
			</div>
	</main>
	
	<div id="spritesx"></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twig.js/1.15.4/twig.min.js" integrity="sha512-zPrJDVxUaY6Qy2gi7gjHBw9Og/XQekExTDl3eFy2IibT0MVhx7vtsbjzPorSGp85+7uByxqzHyph77CRuYv5Kg==" crossorigin="anonymous"></script>
	<!--<script src="main.min.js"></script>-->
	<script>
		$('.twig').each(function(){
			var template = Twig.twig({
				data: $(this).html()
			});
			$(this).html( template.render() );
		});
	</script>
</body>
</html>