// html base styles
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: cfg(headline, cfg(line_height));
}

a {
	&:link {
		color: c(blue);
	}
	&:visited {
		color: rgba(c(blue), .5);
	}
	&:hover {
		color: rgba(c(blue), .25);
	}
	&:active {
		color: c(red);
	}
}
