.aspect-ratio#{$sfx} {
	height: 0;
	position: relative;
	&--object#{$sfx} {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}
}
$cfg: (
	(
		values: cfg(aspect_ratios, $sassy),
		rules: (
			aspect-ratio--: (
				vrules: (
					padding-bottom,
				),
			),
		)
	),
);
