$cfg: (
	(
		// background_color
		responsive: false, 
		values: cfg(colours),
		rules: (
			hover-bg-: (
				vrules: (
					background-color,
				),
				post: ":hover",
			),
		)
	),
);
@include build();
