$cfg: (
	(
		// background_color
		responsive: false, 
		values: cfg(colours),
		rules: (
			bg-: (
				vrules: (
					background-color,
				),
			),
		)
	),
	(
		// position
		responsive: true, 
		values:
			(
				center: center center,
				top: top center,
				right: center right,
				left: center left,
				bottom: bottom center,
			),
		rules: (
			bg-: (
				vrules: (
					background-position,
				),
			),
		)
	),
	(
		//background-size:
		responsive: true, 
		values:
			(
				cover: "cover !important",
				contain: "contain !important",
			),
		rules: (
			"": (
				vrules: (
					background-size,
				),
			),
		)
	)
);
@include build();
