$cfg: (
	(
		responsive: true, 
		values: (
			di: inline,
			db: block,
			dib: inline-block,
			dit: inline-table,
			dt: table,
			dtc: table-cell,
			dt-row: table-row,
			dt-row-group: table-row-group,
			dt-column: table-column,
			dt-column-group: table-column-group,
			dn: none,
		),
		rules: (
			"": (
				vrules: (
					display,
				),
			),
		),
	),
);
@include build();

/*
    This will set table to full width and then
    all cells will be equal width
  */
.dt--fixed#{$mq} {
	table-layout: fixed;
	width: 100%;
}
