.flex#{$mq} {
	display: flex;
}

.inline-flex#{$mq} {
	display: inline-flex;
}

/* 1. Fix for Chrome 44 bug.
   * https://code.google.com/p/chromium/issues/detail?id=506893 */

.flex-auto#{$mq} {
	flex: 1 1 auto;
	min-width: 0;
	/* 1 */
	min-height: 0;
	/* 1 */
}

.flex-none#{$mq} {
	flex: none;
}

.flex-column#{$mq} {
	flex-direction: column;
}

.flex-row#{$mq} {
	flex-direction: row;
}

.flex-wrap#{$mq} {
	flex-wrap: wrap;
}

.flex-nowrap#{$mq} {
	flex-wrap: nowrap;
}

.flex-wrap-reverse#{$mq} {
	flex-wrap: wrap-reverse;
}

.flex-column-reverse#{$mq} {
	flex-direction: column-reverse;
}

.flex-row-reverse#{$mq} {
	flex-direction: row-reverse;
}

.items-start#{$mq} {
	align-items: flex-start;
}

.items-end#{$mq} {
	align-items: flex-end;
}

.items-center#{$mq} {
	align-items: center;
}

.items-baseline#{$mq} {
	align-items: baseline;
}

.items-stretch#{$mq} {
	align-items: stretch;
}

.self-start#{$mq} {
	align-self: flex-start;
}

.self-end#{$mq} {
	align-self: flex-end;
}

.self-center#{$mq} {
	align-self: center;
}

.self-baseline#{$mq} {
	align-self: baseline;
}

.self-stretch#{$mq} {
	align-self: stretch;
}

.justify-start#{$mq} {
	justify-content: flex-start;
}

.justify-end#{$mq} {
	justify-content: flex-end;
}

.justify-center#{$mq} {
	justify-content: center;
}

.justify-between#{$mq} {
	justify-content: space-between;
}

.justify-around#{$mq} {
	justify-content: space-around;
}

.content-start#{$mq} {
	align-content: flex-start;
}

.content-end#{$mq} {
	align-content: flex-end;
}

.content-center#{$mq} {
	align-content: center;
}

.content-between#{$mq} {
	align-content: space-between;
}

.content-around#{$mq} {
	align-content: space-around;
}

.content-stretch#{$mq} {
	align-content: stretch;
}

.order-0#{$mq} {
	order: 0;
}

.order-1#{$mq} {
	order: 1;
}

.order-2#{$mq} {
	order: 2;
}

.order-3#{$mq} {
	order: 3;
}

.order-4#{$mq} {
	order: 4;
}

.order-5#{$mq} {
	order: 5;
}

.order-6#{$mq} {
	order: 6;
}

.order-7#{$mq} {
	order: 7;
}

.order-8#{$mq} {
	order: 8;
}

.order-last#{$mq} {
	order: 99999;
}

.flex-grow-0#{$mq} {
	flex-grow: 0;
}

.flex-grow-1#{$mq} {
	flex-grow: 1;
}

.flex-shrink-0#{$mq} {
	flex-shrink: 0;
}

.flex-shrink-1#{$mq} {
	flex-shrink: 1;
}
