.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

.cl#{$mq} {
	clear: left;
}

.cr#{$mq} {
	clear: right;
}

.cb#{$mq} {
	clear: both;
}

.cn#{$mq} {
	clear: none;
}

.fl#{$mq} {
	float: left;
	_display: inline;
}

.fr#{$mq} {
	float: right;
	_display: inline;
}

.fn#{$mq} {
	float: none;
}
