.grid#{$mq} {
	display: grid;
	// grid-template-columns: 1f;
	// grid-template-rows: 1f;
}

$cfg: (
	(
		responsive: true,
		values: cfg(spacing),
		rules: (
			// grid gap (columns and rows)
			ga-:
				(
					vrules: (
						gap,
					),
					// srules: (
					// 	"grid-template-columns": "1f",
					// ),
				),
			// grid column gap
			gc-:
				(
					vrules: (
						column-gap,
					),
				),
			// grid row gap
			gr-:
				(
					vrules: (
						row-gap,
					),
				),
		),
	),
	(
		responsive: true,
		values: (
			1: 1f,
			2: repeat(2, 1fr),
			3: repeat(3, 1fr),
			4: repeat(4, 1fr),
			5: repeat(5, 1fr),
			6: repeat(6, 1fr),
		),
		rules: (
			// grid columns
			gcolumns-:
				(
					vrules: (
						grid-template-columns,
					),
				),
			// grid rows
			grows-:
				(
					vrules: (
						grid-template-rows,
					),
				),
		),
	),
	(
		responsive: true,
		values: (
			1: 1,
			2: 2,
			3: 3,
			4: 4,
			5: 5,
			6: 6,
			7: 7,
		),
		rules: (
			gcolumn-end-: (
				vrules: (
					grid-column-start,
					grid-column-end,
				),
			),
			grow-end-: (
				vrules: (
					grid-row-start,
					grid-row-end,
				),
			),
			gcolumn-start-: (
				vrules: (
					grid-column-start,
				),
			),
			grow-start-: (
				vrules: (
					grid-row-start,
				),
			),
		),
	),
	(
		responsive: true,
		values: (
			1: span 1,
			2: span 2,
			3: span 3,
			4: span 4,
			5: span 5,
			6: span 6,
		),
		rules: (
			gcolumn-span-: (
				vrules: (
					grid-column-end,
				),
			),
		),
	),
);
@include build();
