@include no_mq {
	img {
		max-width: 100%;
	}

	.nested-img img {
		width: 100%;
		max-width: 100%;
		display: block;
	}
}

$cfg: (
	(
		responsive: true, 
		values: (
			cover: cover,
			fill: fill,
			contain: contain,
			scale-down: scale-down,
		),
		rules: (
			object-: (
				vrules: (
					object-fit,
				),
			),
		),
	),
);
@include build();
