.static#{$sfx} {
	position: static;
}

.relative#{$sfx} {
	position: relative;
}

.absolute#{$sfx} {
	position: absolute;
}

.fixed#{$sfx} {
	position: fixed;
}

.left-50#{$sfx} {
	left: 50%;
	transform: translateX(-50%);
}

.absolute--fill#{$sfx} {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

$cfg: (
	(
		values: cfg(position),
		rules: (
			top-: (
				vrules: (
					top,
				),
			),
			left-: (
				vrules: (
					left,
				),
			),
			right-: (
				vrules: (
					right,
				),
			),
			bottom-: (
				vrules: (
					bottom,
				),
			),
		),
	),
);
