.static#{$mq} {
	position: static;
}

.relative#{$mq} {
	position: relative;
}

.absolute#{$mq} {
	position: absolute;
}

.fixed#{$mq} {
	position: fixed;
}

.sticky#{$mq} {
	position: sticky;
}

.left-50#{$mq} {
	left: 50%;
	transform: translateX(-50%);
}

.absolute--fill#{$mq} {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

$cfg: (
	(
		responsive: true, 
		values: cfg(position),
		rules: (
			top-: (
				vrules: (
					top,
				),
			),
			left-: (
				vrules: (
					left,
				),
			),
			right-: (
				vrules: (
					right,
				),
			),
			bottom-: (
				vrules: (
					bottom,
				),
			),
		),
	),
);
@include build();
