$cfg: (
	(
		// colors
		values: cfg(colours),
		rules: (
			fill-: (
				vrules: (
					fill,
				),
			),
			stroke-: (
				vrules: (
					stroke,
				),
			),
		)
	),
	(
		// stroke_width
		values: cfg(svg_stroke_widths),
		rules: (
			stroke-: (
				vrules: (
					stroke-width,
				),
			),
		)
	)
);
