// In this case, `post` is used to specify a pseudo selector
$cfg: (
	(
		responsive: false,
		values: cfg(table_stripe),
		rules: (
			striped-: (
				vrules: (
					background-color,
				),
				post: ":nth-child(odd)",
			),
		),
	),
);
@include build();
@include no_mq {
	.collapse {
		border-collapse: collapse;
		border-spacing: 0;
	}
}
