$cfg: (
	(
		// colors:
		responsive: false,
		values: cfg(colours),
		rules: (
			"": (
				vrules: (
					color,
				),
			),
		)
	),
	(
		// fonts:
		responsive: false,
		values: cfg(fonts),
		rules: (
			"": (
				vrules: (
					font-family,
				),
			),
		)
	),
	(
		// sizes:
		responsive: true,
		values: cfg(font_sizes),
		rules: (
			f: (
				vrules: (
					font-size,
				),
			),
		)
	),
	(
		// weights:
		responsive: false,
		values: cfg(font_weights),
		rules: (
			fw: (
				vrules: (
					font-weight,
				),
			),
		)
	),
	(
		// leading:
		responsive: false,
		values: cfg(line_height),
		rules: (
			lh-: (
				vrules: (
					line-height,
				),
			),
		)
	),
	(
		// align:
		responsive: true,
		values: (
			c: center,
			r: right,
			l: left,
			j: justify,
		),
		rules: (
			"t": (
				vrules: (
					text-align,
				),
			),
		)
	),
	(
		// style:
		responsive: false,
		values: (
			strike: line-through,
			underline: underline,
			no-underline: none,
		),
		rules: (
			"": (
				vrules: (
					text-decoration,
				),
			),
		)
	),
	(
		// case:
		responsive: false,
		values: (
			ttc: capitalize,
			ttl: lowercase,
			ttu: uppercase,
			ttn: none,
		),
		rules: (
			"": (
				vrules: (
					text-transform,
				),
			),
		)
	),
	(
		// tracking:
		responsive: false,
		values: (
			tight: -0.05em,
			loose: 1.5em,
		),
		rules: (
			tracked-: (
				vrules: (
					letter-spacing,
				),
			),
		)
	),
	(
		// font_style:
		responsive: false,
		values: (
			i: italic,
			fs-normal: normal,
		),
		rules: (
			"": (
				vrules: (
					font-style,
				),
			),
		)
	)
);
@include build();
@include no_mq {
	.indent {
		text-indent: cfg(indent);
		margin-top: 0;
		margin-bottom: 0;
	}
	.nested-copy-indent p + p {
		text-indent: cfg(indent);
		margin-top: 0;
		margin-bottom: 0;
	}
	.small-caps {
		font-variant: small-caps;
	}
	.truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
