$cfg: (
	(
		// colors:
		values:  cfg(colours),
		rules: (
			"": (
				vrules: (
					color,
				),
			),
		)
	),
	(
		// fonts:
		values: cfg(fonts),
		rules: (
			"": (
				vrules: (
					font-family,
				),
			),
		)
	),
	(
		// sizes:
		values: cfg(font_sizes),
		rules: (
			f: (
				vrules: (
					font-size,
				),
			),
		)
	),
	(
		// weights:
		values: cfg(font_weights),
		rules: (
			fw: (
				vrules: (
					font-weight,
				),
			),
		)
	),
	(
		// leading:
		values:
			(
				copy: 1.4,
				headline: 1.1,
				solid: 1,
			),
		rules: (
			lh-: (
				vrules: (
					line-height,
				),
			),
		)
	),
	(
		// align:
		values:
			(
				c: center,
				r: right,
				l: left,
				j: justify,
			),
		rules: (
			"t": (
				vrules: (
					text-align,
				),
			),
		)
	),
	(
		// style:
		values:
			(
				strike: line-through,
				underline: underline,
				no-underline: none,
			),
		rules: (
			"": (
				vrules: (
					text-style,
				),
			),
		)
	),
	(
		// case:
		values:
			(
				ttc: capitalize,
				ttl: lowercase,
				ttu: uppercase,
				ttn: none,
			),
		rules: (
			"": (
				vrules: (
					text-transform,
				),
			),
		)
	),
	(
		// tracking:
		values:
			(
				tight: -0.05em,
				loose: 1.5em,
			),
		rules: (
			tracked-: (
				vrules: (
					letter-spacing,
				),
			),
		)
	),
	(
		// font_style:
		values:
			(
				i: italic,
				fs-normal: normal,
			),
		rules: (
			"": (
				vrules: (
					font-style,
				),
			),
		)
	)
);
