$cfg: (
    (
        // maxwidths: 
        responsive: true, 
        values: cfg(max_widths),
        rules: (
            mw: (vrules: (max-width,),),
        )
    ),
    (
        // widths: 
        responsive: true, 
        values: cfg(widths),
        rules: (
            w-: (vrules: (width,),),
        )
    ),
);
@include build();
